
          <div id="swell-bootstrap">
            <div id="swell-rewards-page">
              <style type="text/css">
                #swell-bootstrap .rewards-templete h1,
                #swell-bootstrap .rewards-templete h2,
                #swell-bootstrap .rewards-templete h3,
                #swell-bootstrap .rewards-templete h4,
                #swell-bootstrap .rewards-templete h5,
                #swell-bootstrap .rewards-templete h6 {
                  letter-spacing: 0 !important;
                  word-spacing: 0 !important;
                  text-transform: capitalize !important;
                }
                #swell-bootstrap .rewards-templete .banner .img-responsive {
                  margin: 0 !important;
                  min-height: 180px;
                }
                #swell-bootstrap .rewards-templete .container {
                  width: 100% !important;
                }
                #swell-bootstrap .rewards-templete .container .row {
                  margin-right: 0 !important;
                  margin-left: 0 !important;
                }
                #swell-bootstrap .rewards-templete .caption h1 {
                  font-family: Open Sans !important;
                  font-size: 36px !important;
                  color: #414042 !important;
                  margin: 10px 0 !important;
                  padding: 0 !important;
                  line-height: 43px !important;
                  opacity: 1 !important;
                  float: none !important;
                  display: block !important;
                  width: 100% !important;
                  height: auto !important;
                  background: transparent !important;
                }

                #swell-bootstrap .rewards-templete .caption p {
                  font-family: Open Sans !important;
                  font-size: 14px !important;
                  color: #414042 !important;
                  opacity: 1 !important;
                  float: none !important;
                  display: block !important;
                  width: 100% !important;
                  height: auto !important;
                  background: transparent !important;
                }
                
                #swell-bootstrap .rewards-templete .point-circle {
                  background-color: #6C6D70 !important;
                }
                
                #swell-bootstrap .rewards-templete .point-circle h2,
                #swell-bootstrap .rewards-templete .point-circle p {
                  font-family: Open Sans !important;
                  opacity: 1 !important;
                  float: none !important;
                  display: block !important;
                  width: 100% !important;
                  height: auto !important;
                  background: transparent !important;
                }

                #swell-bootstrap .rewards-templete .earn-section {
                  padding-top: 140px !important;
                }
                #swell-bootstrap .rewards-templete .rewards-page-campaigns-section-image {
                  background-position: center !important;
                  background-size: cover !important;
                  width: 100% !important;
                }
                #swell-bootstrap .rewards-templete .redeem-section {
                  padding-top: 35px !important;
                }
                #swell-bootstrap .rewards-templete .rewards-page-redeem-section-image {
                  background-position: center !important;
                  background-size: cover !important;
                  width: 100% !important;
                }
                #swell-bootstrap .rewards-templete .banner {
                  min-height: 338px;
                  background: #E6E7E8 !important;
                  max-height: 450px !important;
                  overflow: inherit !important;
                  position: relative !important;
                  -webkit-background-size: cover !important;
                  -moz-background-size: cover !important;
                  -o-background-size: cover !important;
                  background-size: cover !important;
                }
                #swell-bootstrap .rewards-templete .banner img {
                  width: 100% !important;
                  height: 100% !important;
                  max-height: 450px !important;
                }
                #swell-bootstrap .rewards-templete .banner .caption {
                  position: absolute !important;
                  left: 0 !important;
                  right: 0 !important;
                  width: 100% !important;
                  text-align: center !important;
                  top: 35% !important;
                }
                #swell-bootstrap .rewards-templete .banner .caption h1,
                #swell-bootstrap .rewards-templete .banner .caption p {
                  text-align: center !important;
                }
                #swell-bootstrap .rewards-templete .banner .point-circle {
                  position: absolute !important;
                  bottom: -63px !important;
                  left: 0 !important;
                  right: 0 !important;
                  margin: 0 auto !important;
                  border-radius: 100% !important;
                  text-align: center !important;
                  vertical-align: middle !important;
                  width: 170px !important;
                  height: 170px !important;
                  font-size: 25px !important;
                }
                #swell-bootstrap .rewards-templete .banner .point-circle h2 {
                  font-size: 60px !important;
                  margin: 30px 0 0 !important;
                  line-height: 55px !important;
                }
                #swell-bootstrap .rewards-templete .main-block .heading-holder {
                  text-align: center !important;
                  margin: 0 0 30px !important;
                  font-size: 20px !important;
                }
                #swell-bootstrap .rewards-templete .main-block .heading-holder h2 {
                  text-transform: capitalize !important;
                  font-size: 40px;
                  font-weight: normal !important;
                  margin: 0 !important;
                  text-align: center !important;
                }
                #swell-bootstrap .rewards-templete .main-block .heading-holder p {
                  text-align: center !important;
                }
                #swell-bootstrap .rewards-templete .main-block .block-holder {
                  margin-bottom: 100px !important;
                  overflow: hidden !important;
                }
                #swell-bootstrap .rewards-templete .main-block .block-holder .item-box {
                  min-height: 230px !important;
                  text-align: center !important;
                  padding: 40px 0 0 !important;
                  margin-bottom: 20px !important;
                  overflow: hidden !important;
                  -webkit-background-size: cover !important;
                  -moz-background-size: cover !important;
                  -o-background-size: cover !important;
                  background-size: cover !important;
                }
                #swell-bootstrap .rewards-templete .main-block .block-holder .item-box .icon-holder {
                  max-width: 60px !important;
                  padding: 13px !important;
                  margin: 0 auto !important;
                  border-radius: 100% !important;
                  height: 60px !important;
                  text-align: center !important;
                }
                #swell-bootstrap .rewards-templete .main-block .block-holder .item-box .icon-holder i {
                  font-size: 30px !important;
                  padding: 3px 0 0 !important;
                }
                #swell-bootstrap .rewards-templete .main-block .block-holder .item-box h3 {
                  margin: 15px 0 5px !important;
                  font-size: 30px;
                  text-align: center !important;
                  opacity: 1 !important;
                  float: none !important;
                  display: block !important;
                  width: 100% !important;
                  height: auto !important;
                  background: transparent !important;
                }
                #swell-bootstrap .rewards-templete .main-block .block-holder .item-box h2 {
                  margin: 0 !important;
                  font-size: 35px;
                  text-align: center !important;
                  opacity: 1 !important;
                  float: none !important;
                  display: block !important;
                  width: 100% !important;
                  height: auto !important;
                  background: transparent !important;
                }
                #swell-bootstrap .rewards-templete .referral-block {
                  padding: 35px 0 !important;
                  text-align: center !important;
                  font-size: 20px !important;
                  width: 100% !important;
                  height: auto !important;
                }
                #swell-bootstrap .rewards-templete .referral-block h2 {
                  font-size: 40px;
                  font-weight: normal !important;
                  margin-bottom: 3px !important;
                  text-align: center !important;
                  opacity: 1 !important;
                  float: none !important;
                  display: block !important;
                  width: 100% !important;
                  height: auto !important;
                  background: transparent !important;
                }
                #swell-bootstrap .rewards-templete .referral-block p {
                  text-align: center !important;
                  opacity: 1 !important;
                  float: none !important;
                  display: block !important;
                  width: 100% !important;
                  height: auto !important;
                  background: transparent !important;
                }
                #swell-bootstrap .rewards-templete .referral-block .swell-referral-link{
                  height: auto !important;
                  margin: 0 !important;
                  text-align: center !important;
                } 
                #swell-bootstrap .rewards-templete .btn-block ul {
                  text-align: center !important;
                  padding: 0 !important;
                  margin: 15px 0 0 !important;
                  opacity: 1 !important;
                  float: none !important;
                  display: block !important;
                  width: 100% !important;
                  height: auto !important;
                  background: transparent !important;
                }
                #swell-bootstrap .rewards-templete .hover-logout-box .btn-block ul li {
                  display: block !important;
                }
                #swell-bootstrap .rewards-templete .hover-logout-box .btn-block ul li a {
                  display: inline-block !important;
                  width: 92% !important;
                  margin: 0 0 10px !important;
                }
                #swell-bootstrap .rewards-templete .btn-block ul li {
                  display: inline-block !important;
                  padding: 0 !important;
                  margin: 0 10px 10px !important;
                  font-size: 14px !important;
                  cursor: pointer !important;
                }
                #swell-bootstrap .rewards-templete .btn-block ul li a {
                  padding: 12px 5px !important;
                  color: #FFFFFF !important;
                  border: 2px solid #FFFFFF !important;
                  min-width: 180px !important;
                  display: inline-block;
                }
                #swell-bootstrap .rewards-templete .btn-block ul li a:hover {
                  background-color: #FFFFFF !important;
                  color: #6C6D70 !important;
                  text-decoration: none !important;
                }
                #swell-bootstrap .rewards-templete .faq-block {
                  text-align: center !important;
                  padding: 50px 0 !important;
                  background-color: #e1e1e1 !important;
                }
                #swell-bootstrap .rewards-templete .block-holder .heading-holder h2 {
                  margin: 0 !important;
                  text-align: center !important;
                  opacity: 1 !important;
                  float: none !important;
                  display: block;
                  width: 100% !important;
                  height: auto !important;
                  padding: 0 !important;
                  background: transparent !important;
                }
                #swell-bootstrap .rewards-templete .block-holder .heading-holder p {
                  margin-bottom: 25px !important;
                  text-align: center !important;
                  opacity: 1 !important;
                  float: none !important;
                  display: block;
                  width: 100% !important;
                  height: auto !important;
                  padding: 0 !important;
                  background: transparent !important;
                }
                #swell-bootstrap .rewards-templete .faq-block .content-block h2 {
                  color: #000000 !important;
                  margin: 0 !important;
                  font-size: 22px !important;
                  text-align: center !important;
                  font-family: Open Sans !important;
                  opacity: 1 !important;
                  float: none !important;
                  display: block;
                  width: 100% !important;
                  height: auto !important;
                  padding: 0 !important;
                  background: transparent !important;
                }
                #swell-bootstrap .rewards-templete .faq-block .content-block p {
                  color: #000000 !important;
                  margin-bottom: 25px !important;
                  font-size: 15px !important;
                  opacity: 1 !important;
                  float: none !important;
                  display: block;
                  width: 100% !important;
                  height: auto !important;
                  padding: 0 !important;
                  background: transparent !important;
                }
                #swell-bootstrap .rewards-templete .faq-block .content-block {
                  font-family: Open Sans !important;
                }
                @media (max-width: 786px) {
                  #swell-bootstrap .rewards-templete .banner {
                    min-height: 180px !important;
                  }
                  #swell-bootstrap .rewards-templete .earn-section {
                      padding-top: 70px !important;
                  }
                  #swell-bootstrap .rewards-templete .main-block .block-holder {
                      margin-bottom: 50px !important;
                  }
                  #swell-bootstrap .rewards-templete .banner .caption{
                    top:20% !important;
                    }
                  #swell-bootstrap .rewards-templete .banner .point-circle {
                    bottom: -35px !important;
                    width: 70px !important;
                    height: 70px !important;
                    font-size: 16px !important;
                  }
                  #swell-bootstrap .rewards-templete .banner .point-circle h2 {
                    font-size: 20px !important;
                    margin: 15px 0 0 !important;
                    line-height: 20px !important;
                  }
                  #swell-bootstrap .rewards-templete .hover-logout-box .btn-block ul li {
                    width: 100% !important;
                    margin: 0 0 10px !important;
                  }
                }
              </style>

              <div class="hidden" id="hero-header-font-size" data-font-size="36"></div>
              <div class="hidden" id="hero-subtitle-font-size" data-font-size="14"></div>
              <div class="hidden" id="header-font-size" data-font-size="40"></div>
              <div class="hidden" id="subtitle-font-size" data-font-size="20"></div>
              <div class="hidden" id="grid-item-desc-font-size" data-font-size="30"></div>
              <div class="hidden" id="grid-item-cost-font-size" data-font-size="35"></div>
              <div class="hidden" id="faq-question-font-size" data-font-size="22"></div>
              <div class="hidden" id="faq-answer-font-size" data-font-size="15"></div>

              <div class="hidden" id="hero-background-image-link" data-desktop-image="false" data-mobile-image="false"></div>
              
              <div class="rewards-templete" id="rp-section">
                <div id="thumbnail-img-section">
                  <div class="banner">
                    <div id="banner-img-section"></div>
                    <div class="caption">
                      <h1 id="hero_header">
                        Rewards Your Way
                      </h1>
                      <p id="hero_subtitle">
                        Choose how you want to earn and redeem
                      </p>
                    </div>
                    <div class="point-circle swell-authenticated" style="display: block;">
                      <h2 class="divider-text swell-point-balance">0</h2>
                      <p class="divider-text">Points</p>
                    </div>
                  </div>

                  <div class="swell-unauthenticated referral-block divider-block" style="display: none;">
                    <div class="btn-block">
                      <ul>
                        <li class="login-btn active"><a href="/account/login">Sign In</a></li>
                        <li class="register-btn"><a href="/account/register">Create an Account</a></li>
                      </ul>
                    </div>
                  </div>

                  <div id="rewards-page-campaigns-region"><div><style type="text/css">

  .rewards-templete .main-block .block-holder .item-box h2 {
    text-transform: uppercase !important;
  }

  .rewards-templete .heading-holder h2,
  .rewards-templete .heading-holder p {
    color: #000000 !important;
  }

  .rewards-templete .heading-holder h2 {
    font-family: Open Sans !important;
    font-size: 40px !important;
  }

  .rewards-templete .heading-holder p {
    font-family: Open Sans !important;
    font-size: 20px !important;
  }

  .rewards-templete .rewards-page-campaigns-section-image {
    background: url(false) no-repeat !important;
  }

  .rewards-templete .rewards-page-campaigns-section-color {
    background-color: #FFFFFF !important;
  }

  .rewards-templete .main-block .block-holder .item-box {
    background-color: #969598 !important;
    position: relative;
  }

  .rewards-templete .main-block .block-holder .item-box:hover {
    cursor: pointer;
    background-color: #404040 !important;
  }

  .rewards-templete .main-block .block-holder .item-box:hover h3,
  .rewards-templete .main-block .block-holder .item-box:hover h2 {
    color: #FFFFFF !important;
  }

  .rewards-templete .main-block .block-holder .item-box .icon-holder {
    background-color: #FFFFFF !important;
  }

  .rewards-templete .main-block .block-holder .item-box .icon-holder i {
    color: #000000 !important;
  }

  .rewards-templete .main-block .block-holder .item-box h3 {
    color: #000000 !important;
    font-size: 30px !important;
  }

  .rewards-templete .main-block .block-holder .item-box h2 {
    color: #000000 !important;
    font-size: 35px !important;
  }

  .rewards-templete .main-block .block-holder .item-box h3,
  .rewards-templete .main-block .block-holder .item-box h2 {
    font-family: Open Sans !important;
  }
  .item-box:hover .hover-logout-box {
    display: block !important;
  }
  .rewards-templete .hover-logout-box {
    background: #404040 !important;
    position: absolute !important;
    top:0 !important;
    height: 100% !important;
    display: none !important;
    padding: 0 !important;
    width: 100% !important;
  }
  .rewards-templete .hover-logout-box .btn-block {
    height: 100% !important;
    position: absolute !important;
    top: 20% !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto !important;
  }
  .rewards-templete .hover-logout-box .icon-holder {
    margin-bottom: 60px !important;
  }

</style>
<div class="main-block earn-section rewards-page-campaigns-section-image rewards-page-campaigns-section-color">
  <div class="container">
    <div class="row">
      <div class="block-holder">
        <div class="heading-holder">
          <h2 class="swell-authenticated" id="earn_header" style="display: block;">Earn</h2>
          <p class="swell-authenticated" id="earn_subtitle" style="display: block;">Get points for every action you take</p>

          <h2 class="swell-unauthenticated" id="guest_earn_header" style="display: none;">Sign In To Start Earning</h2>
          <p class="swell-unauthenticated" id="guest_earn_subtitle" style="display: none;">Get points for every action you take</p>
        </div>
        <div id="rp-campaigns-region"><div><div id="rp-campaigns"><div class="campaign"><div class="col-md-4 swell-campaign-link swell-authenticated" data-display-mode="modal" data-campaign-id="432684">
  <div class="item-box" id="gi-background" style="background:url('') no-repeat center center;">
    <div class="icon-holder" id="gi-icon-background">
      <i class="fa fa-user" id="gi-icon-foreground"></i>
    </div>
    <h3 id="gi-desc-color">
    	Create an account
    </h3>
    <h2 id="gi-cost-color">
    	
    </h2>
    <div class="campaign-redeem-edit">
      
    </div>
  </div>
</div>

<div class="col-md-4 swell-unauthenticated" style="display: none;">
  <div class="item-box" id="gi-background" style="background:url('') no-repeat center center;">
    <div class="icon-holder" id="gi-icon-background">
      <i class="fa fa-user" id="gi-icon-foreground"></i>
    </div>
    <h3 id="gi-desc-color">
      Create an account
    </h3>
    <h2 id="gi-cost-color">
      
    </h2>
    <div class="hover-logout-box">
      <div class="btn-block">
        <ul>
          <li class="login-btn"><a href="/account/login">Sign In</a></li>
          <li class="register-btn"><a href="/account/register">Create an Account</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div><div class="campaign"><div class="col-md-4 swell-campaign-link swell-authenticated" data-display-mode="modal" data-campaign-id="432685">
  <div class="item-box" id="gi-background" style="background:url('') no-repeat center center;">
    <div class="icon-holder" id="gi-icon-background">
      <i class="fa fa-dollar" id="gi-icon-foreground"></i>
    </div>
    <h3 id="gi-desc-color">
    	Make a purchase
    </h3>
    <h2 id="gi-cost-color">
    	1 Point Per $1.00
    </h2>
    <div class="campaign-redeem-edit">
      
    </div>
  </div>
</div>

<div class="col-md-4 swell-unauthenticated" style="display: none;">
  <div class="item-box" id="gi-background" style="background:url('') no-repeat center center;">
    <div class="icon-holder" id="gi-icon-background">
      <i class="fa fa-dollar" id="gi-icon-foreground"></i>
    </div>
    <h3 id="gi-desc-color">
      Make a purchase
    </h3>
    <h2 id="gi-cost-color">
      1 Point Per $1.00
    </h2>
    <div class="hover-logout-box">
      <div class="btn-block">
        <ul>
          <li class="login-btn"><a href="/account/login">Sign In</a></li>
          <li class="register-btn"><a href="/account/register">Create an Account</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div><div class="campaign"><div class="col-md-4 swell-campaign-link swell-authenticated" data-display-mode="modal" data-campaign-id="432686">
  <div class="item-box" id="gi-background" style="background:url('') no-repeat center center;">
    <div class="icon-holder" id="gi-icon-background">
      <i class="fa fa-birthday-cake" id="gi-icon-foreground"></i>
    </div>
    <h3 id="gi-desc-color">
    	Happy Birthday
    </h3>
    <h2 id="gi-cost-color">
    	
    </h2>
    <div class="campaign-redeem-edit">
      
    </div>
  </div>
</div>

<div class="col-md-4 swell-unauthenticated" style="display: none;">
  <div class="item-box" id="gi-background" style="background:url('') no-repeat center center;">
    <div class="icon-holder" id="gi-icon-background">
      <i class="fa fa-birthday-cake" id="gi-icon-foreground"></i>
    </div>
    <h3 id="gi-desc-color">
      Happy Birthday
    </h3>
    <h2 id="gi-cost-color">
      
    </h2>
    <div class="hover-logout-box">
      <div class="btn-block">
        <ul>
          <li class="login-btn"><a href="/account/login">Sign In</a></li>
          <li class="register-btn"><a href="/account/register">Create an Account</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div><div class="campaign"></div><div class="campaign"><div class="col-md-4 swell-campaign-link swell-authenticated" data-display-mode="modal" data-campaign-id="432865">
  <div class="item-box" id="gi-background" style="background:url('') no-repeat center center;">
    <div class="icon-holder" id="gi-icon-background">
      <i class="fa fa-gears" id="gi-icon-foreground"></i>
    </div>
    <h3 id="gi-desc-color">
    	Visit BeBe.com 
    </h3>
    <h2 id="gi-cost-color">
    	1 point
    </h2>
    <div class="campaign-redeem-edit">
      
    </div>
  </div>
</div>

<div class="col-md-4 swell-unauthenticated" style="display: none;">
  <div class="item-box" id="gi-background" style="background:url('') no-repeat center center;">
    <div class="icon-holder" id="gi-icon-background">
      <i class="fa fa-gears" id="gi-icon-foreground"></i>
    </div>
    <h3 id="gi-desc-color">
      Visit BeBe.com 
    </h3>
    <h2 id="gi-cost-color">
      1 point
    </h2>
    <div class="hover-logout-box">
      <div class="btn-block">
        <ul>
          <li class="login-btn"><a href="/account/login">Sign In</a></li>
          <li class="register-btn"><a href="/account/register">Create an Account</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div><div class="campaign"><div class="col-md-4 swell-campaign-link swell-authenticated" data-display-mode="modal" data-campaign-id="432866">
  <div class="item-box" id="gi-background" style="background:url('') no-repeat center center;">
    <div class="icon-holder" id="gi-icon-background">
      <i class="fa fa-gears" id="gi-icon-foreground"></i>
    </div>
    <h3 id="gi-desc-color">
    	Tag #bebebabe on Instagram
    </h3>
    <h2 id="gi-cost-color">
    	20 Points
    </h2>
    <div class="campaign-redeem-edit">
      
    </div>
  </div>
</div>

<div class="col-md-4 swell-unauthenticated" style="display: none;">
  <div class="item-box" id="gi-background" style="background:url('') no-repeat center center;">
    <div class="icon-holder" id="gi-icon-background">
      <i class="fa fa-gears" id="gi-icon-foreground"></i>
    </div>
    <h3 id="gi-desc-color">
      Tag #bebebabe on Instagram
    </h3>
    <h2 id="gi-cost-color">
      20 Points
    </h2>
    <div class="hover-logout-box">
      <div class="btn-block">
        <ul>
          <li class="login-btn"><a href="/account/login">Sign In</a></li>
          <li class="register-btn"><a href="/account/register">Create an Account</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div><div class="campaign"><div class="col-md-4 swell-campaign-link swell-authenticated" data-display-mode="modal" data-campaign-id="432867">
  <div class="item-box" id="gi-background" style="background:url('') no-repeat center center;">
    <div class="icon-holder" id="gi-icon-background">
      <i class="fa fa-instagram" id="gi-icon-foreground"></i>
    </div>
    <h3 id="gi-desc-color">
    	Follow us on Instagram
    </h3>
    <h2 id="gi-cost-color">
    	20 Points
    </h2>
    <div class="campaign-redeem-edit">
      
    </div>
  </div>
</div>

<div class="col-md-4 swell-unauthenticated" style="display: none;">
  <div class="item-box" id="gi-background" style="background:url('') no-repeat center center;">
    <div class="icon-holder" id="gi-icon-background">
      <i class="fa fa-instagram" id="gi-icon-foreground"></i>
    </div>
    <h3 id="gi-desc-color">
      Follow us on Instagram
    </h3>
    <h2 id="gi-cost-color">
      20 Points
    </h2>
    <div class="hover-logout-box">
      <div class="btn-block">
        <ul>
          <li class="login-btn"><a href="/account/login">Sign In</a></li>
          <li class="register-btn"><a href="/account/register">Create an Account</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div><div class="campaign"><div class="col-md-4 swell-campaign-link swell-authenticated" data-display-mode="modal" data-campaign-id="432870">
  <div class="item-box" id="gi-background" style="background:url('') no-repeat center center;">
    <div class="icon-holder" id="gi-icon-background">
      <i class="fa fa-facebook" id="gi-icon-foreground"></i>
    </div>
    <h3 id="gi-desc-color">
    	Visit our Facebook page
    </h3>
    <h2 id="gi-cost-color">
    	20 Points
    </h2>
    <div class="campaign-redeem-edit">
      
    </div>
  </div>
</div>

<div class="col-md-4 swell-unauthenticated" style="display: none;">
  <div class="item-box" id="gi-background" style="background:url('') no-repeat center center;">
    <div class="icon-holder" id="gi-icon-background">
      <i class="fa fa-facebook" id="gi-icon-foreground"></i>
    </div>
    <h3 id="gi-desc-color">
      Visit our Facebook page
    </h3>
    <h2 id="gi-cost-color">
      20 Points
    </h2>
    <div class="hover-logout-box">
      <div class="btn-block">
        <ul>
          <li class="login-btn"><a href="/account/login">Sign In</a></li>
          <li class="register-btn"><a href="/account/register">Create an Account</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div><div class="campaign"><div class="col-md-4 swell-campaign-link swell-authenticated" data-display-mode="modal" data-campaign-id="432871">
  <div class="item-box" id="gi-background" style="background:url('') no-repeat center center;">
    <div class="icon-holder" id="gi-icon-background">
      <i class="fa fa-twitter" id="gi-icon-foreground"></i>
    </div>
    <h3 id="gi-desc-color">
    	Follow us on Twitter
    </h3>
    <h2 id="gi-cost-color">
    	20 Points
    </h2>
    <div class="campaign-redeem-edit">
      
    </div>
  </div>
</div>

<div class="col-md-4 swell-unauthenticated" style="display: none;">
  <div class="item-box" id="gi-background" style="background:url('') no-repeat center center;">
    <div class="icon-holder" id="gi-icon-background">
      <i class="fa fa-twitter" id="gi-icon-foreground"></i>
    </div>
    <h3 id="gi-desc-color">
      Follow us on Twitter
    </h3>
    <h2 id="gi-cost-color">
      20 Points
    </h2>
    <div class="hover-logout-box">
      <div class="btn-block">
        <ul>
          <li class="login-btn"><a href="/account/login">Sign In</a></li>
          <li class="register-btn"><a href="/account/register">Create an Account</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div></div>
</div></div>
      </div>
    </div>
  </div>
</div>
<div id="rp-referral-campaign-region"><div class="referral_campaign"><style type="text/css">
	.rewards-templete .divider-block {
		background: url(false) #6C6D70 !important;
	}

	.rewards-templete .divider-text {
		color: #FFFFFF !important;
	}

	.rewards-templete .referral-block h2 {
		font-family: Open Sans !important;
		font-size: 40px !important;
	}

	.rewards-templete .referral-block p {
		font-family: Open Sans !important;
		font-size: 20px !important;
	}

	.rewards-templete .referral-block h3 {
		font-family: Open Sans !important;
	}
	.rewards-templete .referral-block .social-icon ul {
		padding: 0 !important;
		margin: 20px 0 0 !important;
		list-style: none !important;
		text-align: center !important;
	}
	.rewards-templete .referral-block .social-icon ul li {
		display: inline-block;
		width: 55px !important;
		height: 55px !important;
		background-color: #FFFFFF !important;
		border-radius: 100% !important;
		margin: 0 5px !important;
		cursor: pointer !important;
		text-align: center !important;
	}
	.rewards-templete .referral-block .social-icon ul li i {
		color: #000000 !important;
		font-size: 34px !important;
		margin-top: 13px !important;
	}
</style>
<div class="swell-authenticated referral-block divider-block">
	<h2 class="divider-text" id="referral_header">Refer a Friend</h2>
	<p class="divider-text" id="referral_subtitle">Share our store to earn points for you and a friend!</p>
	<h3 class="divider-text swell-referral-link">http://rwrd.io</h3>
	<div class="social-icon">
		<ul>
			<li class="swell-share-referral-facebook"><i class="fa fa-facebook"></i></li>
			<li class="swell-share-referral-twitter"><i class="fa fa-twitter"></i></li>
			<li class="swell-share-referral-email"><i class="fa fa-envelope-o"></i></li>
		</ul>
	</div>
</div>

<div class="swell-unauthenticated referral-block divider-block" style="display: none;">
	<h2 class="divider-text" id="guest_referral_header">Sign In To Refer a Friend</h2>
	<p class="divider-text" id="guest_referral_subtitle">Share our store to earn points for you and a friend!</p>
	<div class="btn-block">
    <ul>
      <li class="login-btn"><a href="/account/login">Sign In</a></li>
      <li class="register-btn"><a href="/account/register">Create an Account</a></li>
    </ul>
  </div>
</div>
</div></div>
</div></div>
                  <div id="rewards-page-redeem-options-region"><div><style type="text/css">

  .rewards-templete .rewards-page-redeem-section-image {
    background: url(false) no-repeat !important;
  }

  .rewards-templete .rewards-page-redeem-section-color {
    background-color: #FFFFFF !important;
  }

</style>

<div class="main-block redeem-section rewards-page-redeem-section-image rewards-page-redeem-section-color">
  <div class="container">
    <div class="row">
      <div class="block-holder">
        <div class="heading-holder">
          <h2 class="swell-authenticated" id="redeem_header" style="display: block;">Redeem</h2>
          <p class="swell-authenticated" id="redeem_subtitle" style="display: block;">Use your points towards any of the offers below</p>

          <h2 class="swell-unauthenticated" id="guest_redeem_header" style="display: none;">Sign In To Redeem</h2>
          <p class="swell-unauthenticated" id="guest_redeem_subtitle" style="display: none;">Use your points towards any of the offers below</p>
        </div>
        <div id="redeem-options-region"><div><div id="redeem-options"><div></div></div>
</div></div>
      </div>
    </div>
  </div>
</div>
</div></div>
                </div>

                <div class="swell-unauthenticated referral-block divider-block" style="display: none;">
                  <h2 class="divider-text" id="guest-transaction-history-header">Sign In To View Your Transaction History</h2>
                  <p class="divider-text" id="guest-transaction-history-subtitle">View past earnings and redemptions</p>
                  <div class="btn-block">
                    <ul>
                      <li class="login-btn"><a href="/account/login">Sign In</a></li>
                      <li class="register-btn"><a href="/account/register">Create an Account</a></li>
                    </ul>
                  </div>
                </div>

                <div class="swell-authenticated referral-block divider-block" style="display: block;">
                  <h2 class="divider-text" id="transaction-history-header">Transaction History</h2>
                  <p class="divider-text" id="transaction-history-subtitle">View past earnings and redemptions</p>
                  <div class="btn-block">
                    <ul>
                      <li class="swell-history-link" id="view-history-btn">View History</li>
                    </ul>
                  </div>
                </div>

                <div class="faq-block">
                  <div class="container">
                    <div class="row">
                      <div class="block-holder">
                        <div class="heading-holder">
                          <h2 id="faq-header">FAQ</h2>
                          <p id="faq-subtitle">Subtitle</p>
                        </div>
                        <div class="content-block" id="faq-text">
                          <h2 class="swell-question">How do I participate?</h2>
<p class="swell-answer">Joining is easy! Just click the Create An Account button to get started. Once you're registered with our store, you'll have the opportunity to take part in all of the exciting ways we currently offer to earn points!</p>

<h2 class="swell-question">How can I earn points?</h2>
<p class="swell-answer">You can earn points by participating in any of our innovative promotions! Simply click on the 'Earn Points' tab to view and take part in our current opportunities. In addition, make sure to check back often, as we're adding great new ways for you to earn points all the time!</p>

<h2 class="swell-question">What can I redeem my points for?</h2>
<p class="swell-answer">Glad you asked! We want to make it easy and fun to redeem your hard-earned points. Just visit the 'Get Rewards' tab to view all of our exciting reward options.</p>

<h2 class="swell-question">How do I redeem my points?</h2>
<p class="swell-answer">Exchanging your points for great rewards couldn't be easier! Simply visit the 'Get Rewards' tab to view all of our great reward options and click the 'Redeem' button to redeem your reward.</p>

<h2 class="swell-question">How do I check my points balance?</h2>
<p class="swell-answer">Your up-to-date points balance is always displayed in the top of this popup.</p>

<h2 class="swell-question">Does it cost anything to begin earning points?</h2>
<p class="swell-answer">Absolutely not! Sign up is 100% free, and it will never cost you anything to earn points. Make sure to visit the 'Earn Points' tab to get started.</p>

<h2 class="swell-question">Do I have to enroll or register in individual promotions?</h2>
<p class="swell-answer">Once you register for an account, you're all set – we don't require you to register for individual promotions in order to be eligible. Just fulfill the requirements of a promotion, and we'll post the points to your account immediately!</p>

<h2 class="swell-question">How long will it take for points to post to my account?</h2>
<p class="swell-answer">You should receive points in your account instantly once you complete a promotion!</p>

<h2 class="swell-question">Do my points expire?</h2>
<p class="swell-answer">Nope! Your points will never expire.</p>

<h2 class="swell-question">What happens to my points if I make a return?</h2>
<p class="swell-answer">When you return an item, you lose the associated credit you originally earned by buying the item in the first place. <br> Sound kind of confusing? Let's take an example: let's say you had previously spent $50 towards a 'spend $100, earn 500 points' promotion, and you decide to buy a $20 item, which bumps you up to $70. If you decide to return that item, your progress would also go back down to $50 – it's just like you hadn't bought the item in the first place.</p>

<h2 class="swell-question">How do I contact support if I have questions about my points?</h2>
<p class="swell-answer">Our team is ready and waiting to answer your questions about our rewards program! Just send us an email and we'll be in touch.</p>

<h2 class="swell-question"> I'm very close to earning a reward. Can I buy extra points to get there?</h2>
<p class="swell-answer">We currently require you to have enough points to redeem any of the awards you see listed on the 'Get Rewards' tab.</p>

<h2 class="swell-question">What if I don't want to receive promotional emails?</h2>
<p class="swell-answer">From time to time, you'll receive program-related emails from us. If you'd prefer to not receive those types of emails anymore, just click the 'Unsubscribe' button when you receive your next email.</p>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              
            </div>
          </div>
                      <link href='//dr23nxbalvxka.cloudfront.net/bootstrap.min.css' rel='stylesheet' type='text/css'>              <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>              <script type='text/javascript'>function convertPxToVw(target)              {                var vw_context = window.innerWidth * 0.01;                return (target / vw_context);              }                            function checkDevice(){                bannerImage = document.getElementById('banner-img');                element = document.getElementById('hero-background-image-link');                if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) && (element.getAttribute('data-mobile-image') && element.getAttribute('data-mobile-image') !='false' )){                  bannerImage.src = element.getAttribute('data-mobile-image');                  bannerImage.style.display = 'block';                }else{                  if(element.getAttribute('data-desktop-image') && element.getAttribute('data-desktop-image') !='false'){                    bannerImage.src = element.getAttribute('data-desktop-image');                    bannerImage.style.display = 'block';                  }else{                    bannerImage.style.display = 'none';                  }                }              }              function adjustFontSize(){                var original_font_size = null;                var converted_font_size = null;                var element = null;                var elements = null;                element = document.getElementById('hero_header');                original_font_size = parseFloat(document.getElementById('hero-header-font-size').getAttribute('data-font-size'));                converted_font_size = convertPxToVw(original_font_size);                if(window.innerWidth <= 768 && converted_font_size > 10.0)                {                  converted_font_size = 10.0;                }                element.style.setProperty( 'font-size', converted_font_size+'vw', 'important' );                element = document.getElementById('hero_subtitle');                original_font_size = parseFloat(document.getElementById('hero-subtitle-font-size').getAttribute('data-font-size'));                converted_font_size = convertPxToVw(original_font_size);                if(window.innerWidth <= 768 && converted_font_size > 4.5)                {                  converted_font_size = 4.5;                }                element.style.setProperty( 'font-size', converted_font_size+'vw', 'important' );                elements = document.querySelectorAll('.rewards-templete .heading-holder h2');                original_font_size = parseFloat(document.getElementById('header-font-size').getAttribute('data-font-size'));                converted_font_size = convertPxToVw(original_font_size);                for (i = 0; i < elements.length; ++i) {                  elements[i].style.setProperty( 'font-size', converted_font_size+'vw', 'important' );                }                elements = document.querySelectorAll('.rewards-templete .heading-holder p');                original_font_size = parseFloat(document.getElementById('subtitle-font-size').getAttribute('data-font-size'));                converted_font_size = convertPxToVw(original_font_size);                for (i = 0; i < elements.length; ++i) {                  elements[i].style.setProperty( 'font-size', converted_font_size+'vw', 'important' );                }                elements = document.querySelectorAll('.rewards-templete .main-block .block-holder .item-box h3');                original_font_size = parseFloat(document.getElementById('grid-item-desc-font-size').getAttribute('data-font-size'));                converted_font_size = convertPxToVw(original_font_size);                for (i = 0; i < elements.length; ++i) {                  elements[i].style.setProperty( 'font-size', converted_font_size+'vw', 'important' );                }                elements = document.querySelectorAll('.rewards-templete .main-block .block-holder .item-box h2');                original_font_size = parseFloat(document.getElementById('grid-item-cost-font-size').getAttribute('data-font-size'));                converted_font_size = convertPxToVw(original_font_size);                for (i = 0; i < elements.length; ++i) {                  elements[i].style.setProperty( 'font-size', converted_font_size+'vw', 'important' );                }                                elements = document.querySelectorAll('#swell-bootstrap .rewards-templete .faq-block .content-block h2');                original_font_size = parseFloat(document.getElementById('faq-question-font-size').getAttribute('data-font-size'));                converted_font_size = convertPxToVw(original_font_size);                for (i = 0; i < elements.length; ++i) {                  elements[i].style.setProperty( 'font-size', converted_font_size+'vw', 'important' );                }                elements = document.querySelectorAll('#swell-bootstrap .rewards-templete .faq-block .content-block p');                original_font_size = parseFloat(document.getElementById('faq-answer-font-size').getAttribute('data-font-size'));                converted_font_size = convertPxToVw(original_font_size);                for (i = 0; i < elements.length; ++i) {                  elements[i].style.setProperty( 'font-size', converted_font_size+'vw', 'important' );                }                                elements = document.querySelectorAll('.rewards-templete .referral-block h2');                original_font_size = parseFloat(document.getElementById('header-font-size').getAttribute('data-font-size'));                converted_font_size = convertPxToVw(original_font_size);                for (i = 0; i < elements.length; ++i) {                  elements[i].style.setProperty( 'font-size', converted_font_size+'vw', 'important' );                }                                elements = document.querySelectorAll('.rewards-templete .referral-block p');                original_font_size = parseFloat(document.getElementById('subtitle-font-size').getAttribute('data-font-size'));                converted_font_size = convertPxToVw(original_font_size);                for (i = 0; i < elements.length; ++i) {                  elements[i].style.setProperty( 'font-size', converted_font_size+'vw', 'important' );                }              }              window.addEventListener('resize', function() {                adjustFontSize();              });              var stateCheck = setInterval(function() {                if (document.readyState === 'complete') {                  clearInterval(stateCheck);                  adjustFontSize();                  checkDevice();                }              }, 100);</script>