<div id="attentiveOptIn" class="fieldset-description" data-buyer-accepts-marketing-attentive="">
  <div class="section__content section__content__attentive">
    <div class="checkbox-wrapper">
      <div class="checkbox__input">
        <input name="attributes[buyer_accepts_marketing_attentive]" type="hidden" value="0">
        <input class="input-checkbox" data-backup="buyer_accepts_marketing" type="checkbox" value="1" name="attributes[buyer_accepts_marketing_attentive]" id="checkout_buyer_accepts_marketing_attentive">
      </div>
      <div class="checkbox__label checkbox__label__attentive">
        <div class="checkbox__label__attentive__header">Get 20% Off Your Next Order</div>
        <div class="checkbox__label__attentive__subheader">Sign up to get texts from bebe and we&rsquo;ll text you a coupon code</div>
      </div>
    </div>
  </div>
  <div class="section__footer__attentive">By signing up via text, you agree to receive recurring automated marketing messages from bebe at the cell number provided when signing up. Consent is not a condition of any purchase. Msg &amp; data rates may apply. View <a href="http://attn.tv/bebe/terms.html" target="_blank" rel="noopener noreferrer">Terms</a> &amp; <a href="https://www.bebe.com/pages/privacy-policy" target="_blank" rel="noopener noreferrer">Privacy</a>.
  </div>
</div>