<div class="borderfree-currency-container" data-borderfree-container>

	<div class="borderfree-inside-container container">

		<img class="close-borderfree" data-close-borderfree src="{{ 'icon-x.svg' | asset_url }}" alt="Close" title="Close" />
		
		<div class="borderfree-content borderfree-container">
			<h4 class="borderfree-header">Choose Country &amp; Currency</h4>
			<p class="borderfree-text">Please select the country you would like to ship to and your currency below.</p>
		</div>

		<div class="borderfree-currency-selectors borderfree-container">
		  <div class="currency-select-wrapper">
		  	<label type="hidden" for="bfx_country" class="empty_a_link">Country</label>
		    <select id="bfx_country" class="borderfree-select bfx-cc-countries js-change-bfx-country" name="bfx-cc-countries"></select>
		  </div>
		  <div class="currency-select-wrapper">
		  	<label type="hidden" for="bfx_currency" class="empty_a_link">Currency</label>
		    <select id="bfx_currency" class="borderfree-select js-change-bfx-currency" name="bfx-cc-currencies"></select>
		  </div>
		</div>
	
		<div class="borderfree-shop borderfree-container">
		  <button class="btn borderfree-btn btn-primary js-update-borderfree">Shop Now</button>
		</div>

	</div><!-- .borderfree-inside-container -->

</div><!-- .borderfree-currency-container -->
