<div class="order-summary__section order-summary__section--swell points-section" style="display:none; background: red;" data-type="apply-points" id="swell-checkout">
	<h2><strong>FEATURE TESTING : DO NOT QA</strong></h2>

	<div style="display:none;">
		<span id="swell-checkout-customer-id">{{ customer.id }}</span>
		<span id="swell-checkout-customer-email">{{ customer.email }}</span>
		<span id="swell-checkout-customer-tags">{{ customer.tags | json }}</span>
		<span id="swell-checkout-total-price-cents">{{ checkout.total_price }}</span>
	</div>

	<div class="swell--active-coupons">
		<div class="section__header">
			<h2 class="section__title">Use a reward coupon</h2>
		</div>

		<div class="section__content">
			<fieldset class="content-box" id="swell--active-coupon--selector">
				<legend class="visually-hidden">Use an exisiting loyalty coupon for this order</legend>
				<div class="radio-wrapper content-box__row">
					<div class="radio__input">
						<input type="radio" class="input-radio" id="swell--active-coupon--selection--none" name="swell--active-coupon" checked>
					</div>
					<label class="radio__label content-box__emphasis" for="swell--active-coupon--selection--none">None</label>
				</div>
			
			</fieldset>
		
		</div>

	</div>

</div>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

<script>
 (function() {

 // only load swell loader on checkout page, not thank you page as it's already loaded by our app
	$(document).ready(function(){
		if(window.location.href.indexOf("checkout") > -1 && window.location.href.indexOf("thank_you") == -1) {
			// adding swell loader....
			var script = document.createElement("script");
			script.type = "text/javascript";
			script.src = "https://cdn.swellrewards.com/loader/msrX3pZA7wZvzTquxrSL2Q.js?shop=bebe-prod.myshopify.com"; // Add JS SDK here.
			document.getElementsByTagName("head")[0].appendChild(script);			
			
			$(document).on("swell:setup", function() {

				// list the different redemptions
				var activeCoupons = spapi.customer.point_redemptions;

				activeCoupons.forEach(function(coupon) {
					var $couponItem  = '<div class="radio-wrapper content-box__row">';
						$couponItem += '<div class="radio__input">';
						$couponItem += '	<input class="input-radio" name="swell--active-coupon" type="radio" id="swell--active-coupon--selection--' + coupon.reward_text + '" value="' + coupon.reward_text + '" /></div>';
						$couponItem += '    <label class="radio__label content-box__emphasis" for="swell--active-coupon--selection--' + coupon.reward_text + '">' + coupon.redemption_option.name + ' <small>(' + coupon.reward_text + ')</small></label>';
						$couponItem += '</div>';

					$('#swell--active-coupon--selector').append($couponItem);	
				});

				$('input:radio[name="swell--active-coupon"]').on('change', this, function() {

					console.log( $(this).val() );

					$('#checkout_reduction_code')
						.val( $(this).val() );
					
				});								



				/* Swell.Checkout.getMaximumPointsAvailableForRedemption = function getMaximumPointsAvailableForRedemption() {
					var currentPointsAvailable = spapi.getAdjustedPointsBalance();

					if(Swell.Checkout.totalPriceCentsElExists()){
						var cartValueCents = Swell.Checkout.getCheckoutTotalPriceCents();
						var centsPerPoint = spapi.variableRedemptionOption.discount_rate_cents;
						var maxPointsPossible = cartValueCents / centsPerPoint;

						if(maxPointsPossible > parseInt(maxPointsPossible)){
							maxPointsPossible = parseInt(maxPointsPossible) + 1;
						}

						currentPointsAvailable = Math.min(maxPointsPossible, currentPointsAvailable);
					}

					return currentPointsAvailable;
				} */
			});
			
		}
	});
 })(jQuery);

	 
</script>