<script src="https://embed.indi.com/widgets/v1/indi-embed.js"></script>
    <div id="indi-reviews-root"></div>
    <script>
      var indi_reviews = new indi.reviews("#indi-reviews-root", {
        apikey: "EERIxwXF644c1E1To5puL8xNP5PvLHSv240PyNYf",
        id: "a77d0fdb-66d5-492f-9d79-49f947116d62",
        size: "small",
        theme: "light",
        reviews_title: "Customer Photos & Videos",
        round_corners: false,
        show_title: false,
        show_views: false,
        show_likes: false,
        show_buzz: false,
        animate: true,
        keywords: "{{ product.handle }}",
        submit_link_label: "+ Add Photo or Video",
        allowanon: true,
        return_url: "{{ shop.url }}{{ product.url }}",
        show_submit_thumbnail: true,
        submit_prompt_title: "#bebebabe?",
        submit_prompt_desc: "Upload your photos & videos to share your style!"
      });
    </script>
