<svg class="icon icon-account" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
	<title>Account Icon</title>
    <path d="M50.66,45.64c6.37-4.57,10.53-12.02,10.53-20.46C61.19,11.28,49.91,0,36,0S10.81,11.28,10.81,25.19
	c0,8.44,4.16,15.88,10.53,20.46C10.69,50.41,2.77,60.19,0.62,72h70.77C69.23,60.19,61.31,50.41,50.66,45.64z M36,8
	c9.48,0,17.19,7.71,17.19,17.19c0,9.48-7.71,17.19-17.19,17.19s-17.19-7.71-17.19-17.19C18.81,15.71,26.52,8,36,8z M12.06,64
	C17,55.82,25.96,50.5,36,50.5S55,55.82,59.94,64H12.06z" />
</svg>