<svg class="icon icon-search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
	<title>Search</title>
    <path fill="#164632" d="M70.78,65.58L55.77,50.51c4.38-5.34,7.01-12.17,7.01-19.63C62.78,13.83,49,0,32,0S1.22,13.83,1.22,30.89
	C1.22,47.94,15,61.77,32,61.77c6.3,0,12.16-1.91,17.04-5.17L64.38,72L70.78,65.58z M32,53.89c-12.64,0-22.93-10.32-22.93-23
	c0-12.68,10.28-23,22.93-23s22.93,10.32,22.93,23C54.92,43.57,44.64,53.89,32,53.89z" />
</svg>