<svg class="icon icon-caret_left" version="1.1" viewBox="0 0 14 48"  xmlns="http://www.w3.org/2000/svg">
    <title>Left Caret</title>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <path d="M1.5,0.5 L13.5,23.58" id="Line-left" stroke="#979797" transform="translate(7.500000, 12.040000) scale(-1, 1) translate(-6.500000, -12.040000) "></path>
        <path d="M0.5,47.5 L13.5,24" id="Line-left-svg" stroke="#979797" transform="translate(7.000000, 35.750000) scale(-1, 1) translate(-7.000000, -35.750000) "></path>
    </g>
</svg>