<div id="customer-wrapper" class="desktop-12 mobile-3 centered">

  {% include 'customer-sidebar' %}

  <div id="customer_dashboard" class="desktop-10 tablet-6 mobile-3">

    {% include 'customer-dashboard' %}

  </div>

</div>