<div id="size-chart--wrapper" data-section-id="{{ section.id }}">
	<div id="size-chart--nav">
		<h2>FIT GUIDE</h2>
		<ul>
			<li><a href="#sc-dresses">Dresses &amp; Jumpsuits</a></li>
			<li><a href="#sc-tops">Tops &amp; outwear</a></li>
			<li><a href="#sc-bottoms">BOTTOMS &amp; JEANS</a></li>
			<li><a href="#sc-petites">PETITES</a></li>
			<li><a href="#sc-shoes">SHOES &amp; BELTS</a></li>
			<li><a href="#sc-kids">KIDS</a></li>
		</ul>
		<p id="sc-dresses" style="padding-top:1%">The following charts provide general sizing information. Fit may vary due to design silhouette.</p>
	</div>

	<div id="measure-guide--wrapper">
		<div id="measure-guide"></div>
	</div>

	<div class="size-chart--table">
		<div class="scroll-container">
			<div class="scroll-content">
				<h4>DRESSES & JUMPSUITS</h4>
				<table id="chart-dress-jumpsuits--us" class="tg">
					<tbody>
							<tr>
						    <th class="tg-yw4l">US SIZE</th>
						    <th class="tg-yw4l" style="width:14.1666%">XXS</th>
						    <th class="tg-yw4l" style="width:14.1666%">XS</th>
						    <th class="tg-yw4l" style="width:14.1666%">S</th>
						    <th class="tg-yw4l" style="width:14.1666%">M</th>
						    <th class="tg-yw4l" style="width:14.1666%">L</th>
						    <th class="tg-yw4l" style="width:14.1666%">XL</th>
						  </tr>
							<tr>
									<td class="tg-yw4l">BUST</td>
									<td class="tg-yw4l">32.5"</td>
									<td class="tg-yw4l">34"</td>
									<td class="tg-yw4l">35.5"</td>
									<td class="tg-yw4l">37.5"</td>
									<td class="tg-yw4l">40.5"</td>
									<td class="tg-yw4l">43.5"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">WAIST</td>
									<td class="tg-yw4l">24"</td>
									<td class="tg-yw4l">25.5"</td>
									<td class="tg-yw4l">27"</td>
									<td class="tg-yw4l">29"</td>
									<td class="tg-yw4l">32"</td>
									<td class="tg-yw4l">35"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">HIPS</td>
									<td class="tg-yw4l">34.5"</td>
									<td class="tg-yw4l">36"</td>
									<td class="tg-yw4l">37.5"</td>
									<td class="tg-yw4l">39.5"</td>
									<td class="tg-yw4l">42.5"</td>
									<td class="tg-yw4l">45.5"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">AUSTRALIA</td>
									<td class="tg-yw4l">4</td>
									<td class="tg-yw4l">6</td>
									<td class="tg-yw4l">8</td>
									<td class="tg-yw4l">10</td>
									<td class="tg-yw4l">12/14</td>
									<td class="tg-yw4l">16</td>
							</tr>
							<tr>
									<td class="tg-yw4l">EUROPE</td>
									<td class="tg-yw4l">30</td>
									<td class="tg-yw4l">32</td>
									<td class="tg-yw4l">34/36</td>
									<td class="tg-yw4l">38</td>
									<td class="tg-yw4l">40/42</td>
									<td class="tg-yw4l">44</td>
							</tr>
							<tr>
									<td class="tg-yw4l">JAPAN</td>
									<td class="tg-yw4l">3</td>
									<td class="tg-yw4l">5</td>
									<td class="tg-yw4l">7</td>
									<td class="tg-yw4l">11/13</td>
									<td class="tg-yw4l">15/17</td>
									<td class="tg-yw4l">19</td>
							</tr>
							<tr>
									<td class="tg-yw4l">UNITED KINGDOM</td>
									<td class="tg-yw4l">2</td>
									<td class="tg-yw4l">4</td>
									<td class="tg-yw4l">6</td>
									<td class="tg-yw4l">8</td>
									<td class="tg-yw4l">10/12</td>
									<td class="tg-yw4l">14/16</td>
							</tr>
					</tbody>
				</table>

				<table id="chart-dress-jumpsuits--eu" class="tg">
					<tbody>
							<tr>
						    <th class="tg-yw4l tg-col1">SIZE</th>
						    <th class="tg-yw4l" style="width:10.625%">00</th>
						    <th class="tg-yw4l" style="width:10.625%">0</th>
						    <th class="tg-yw4l" style="width:10.625%">2</th>
						    <th class="tg-yw4l" style="width:10.625%">4</th>
						    <th class="tg-yw4l" style="width:10.625%">6</th>
						    <th class="tg-yw4l" style="width:10.625%">8</th>
						    <th class="tg-yw4l" style="width:10.625%">10</th>
						    <th class="tg-yw4l" style="width:10.625%">12</th>
						  </tr>
							<tr>
									<td class="tg-yw4l">BUST</td>
									<td class="tg-yw4l">31.5"</td>
									<td class="tg-yw4l">32.5"</td>
									<td class="tg-yw4l">33.5"</td>
									<td class="tg-yw4l">34.5"</td>
									<td class="tg-yw4l">35.5"</td>
									<td class="tg-yw4l">37"</td>
									<td class="tg-yw4l">38.5"</td>
									<td class="tg-yw4l">40"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">WAIST</td>
									<td class="tg-yw4l">23"</td>
									<td class="tg-yw4l">24"</td>
									<td class="tg-yw4l">25"</td>
									<td class="tg-yw4l">26"</td>
									<td class="tg-yw4l">27"</td>
									<td class="tg-yw4l">28.5"</td>
									<td class="tg-yw4l">30"</td>
									<td class="tg-yw4l">31.5"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">HIPS</td>
									<td class="tg-yw4l">33.5"</td>
									<td class="tg-yw4l">34.5"</td>
									<td class="tg-yw4l">35.5"</td>
									<td class="tg-yw4l">36.5"</td>
									<td class="tg-yw4l">37.5"</td>
									<td class="tg-yw4l">39"</td>
									<td class="tg-yw4l">40.5"</td>
									<td class="tg-yw4l">42"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">AUSTRALIA</td>
									<td class="tg-yw4l">4</td>
									<td class="tg-yw4l">4</td>
									<td class="tg-yw4l">6</td>
									<td class="tg-yw4l">6</td>
									<td class="tg-yw4l">8</td>
									<td class="tg-yw4l">10/12</td>
									<td class="tg-yw4l">14</td>
									<td class="tg-yw4l">16</td>
							</tr>
							<tr>
									<td class="tg-yw4l">EUROPE</td>
									<td class="tg-yw4l">28</td>
									<td class="tg-yw4l">30</td>
									<td class="tg-yw4l">32</td>
									<td class="tg-yw4l">34</td>
									<td class="tg-yw4l">36</td>
									<td class="tg-yw4l">38</td>
									<td class="tg-yw4l">40</td>
									<td class="tg-yw4l">42</td>
							</tr>
							<tr>
									<td class="tg-yw4l">JAPAN</td>
									<td class="tg-yw4l">3</td>
									<td class="tg-yw4l">3</td>
									<td class="tg-yw4l">5</td>
									<td class="tg-yw4l">5</td>
									<td class="tg-yw4l">7</td>
									<td class="tg-yw4l">9/11</td>
									<td class="tg-yw4l">13</td>
									<td class="tg-yw4l">15</td>
							</tr>
							<tr>
									<td class="tg-yw4l">UNITED KINGDOM</td>
									<td class="tg-yw4l">2</td>
									<td class="tg-yw4l">2</td>
									<td class="tg-yw4l">4</td>
									<td class="tg-yw4l">4</td>
									<td class="tg-yw4l">6</td>
									<td class="tg-yw4l">8/10</td>
									<td class="tg-yw4l">12</td>
									<td class="tg-yw4l">14</td>
							</tr>
					</tbody>
				</table>

				<table  id="chart-dress-jumpsuits--simple" class="tg">
					<tbody>
							<tr>
									<th class="tg-yw4l">SIZE</th>
									<th class="tg-yw4l" style="width:42.5%">P/S</th>
									<th class="tg-yw4l" style="width:42.5%">M/L</th>
							</tr>
							<tr>
									<td class="tg-yw4l">BUST</td>
									<td class="tg-yw4l">32-36"</td>
									<td class="tg-yw4l">37-41"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">WAIST</td>
									<td class="tg-yw4l">23-27"</td>
									<td class="tg-yw4l">28-32"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">HIPS</td>
									<td class="tg-yw4l">34-38"</td>
									<td class="tg-yw4l">39-43"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">AUSTRALIA</td>
									<td class="tg-yw4l">4/6/8</td>
									<td class="tg-yw4l">10/12/14</td>
							</tr>
							<tr>
									<td class="tg-yw4l">EUROPE</td>
									<td class="tg-yw4l">30/32/34/36</td>
									<td class="tg-yw4l">38/40/42</td>
							</tr>
							<tr id="sc-tops">
									<td class="tg-yw4l">JAPAN</td>
									<td class="tg-yw4l">3/5/7</td>
									<td class="tg-yw4l">11/13/15/17</td>
							</tr>
							<tr>
									<td class="tg-yw4l">UNITED KINGDOM</td>
									<td class="tg-yw4l">2/4/6</td>
									<td class="tg-yw4l">8/10/12</td>
							</tr>
					</tbody>
				</table>
				<p>For petite sizing, please view our <a href="#sc-petites">petites</a> fit guide.</p>



				<h4>TOPS &amp; OUTERWEAR</h4>
				<table class="tg">
					<tbody>
							<tr>
									<th class="tg-yw4l">SIZE</th>
									<th class="tg-yw4l" style="width:14.1666%">XXS</th>
									<th class="tg-yw4l" style="width:14.1666%">XS</th>
									<th class="tg-yw4l" style="width:14.1666%">S</th>
									<th class="tg-yw4l" style="width:14.1666%">M</th>
									<th class="tg-yw4l" style="width:14.1666%">L</th>
									<th class="tg-yw4l" style="width:14.1666%">XL</th>
							</tr>
							<tr>
									<td class="tg-yw4l">BUST</td>
									<td class="tg-yw4l">32.5"</td>
									<td class="tg-yw4l">34"</td>
									<td class="tg-yw4l">35.5"</td>
									<td class="tg-yw4l">37.5"</td>
									<td class="tg-yw4l">40.5"</td>
									<td class="tg-yw4l">43.5"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">WAIST</td>
									<td class="tg-yw4l">24"</td>
									<td class="tg-yw4l">25.5"</td>
									<td class="tg-yw4l">27"</td>
									<td class="tg-yw4l">29"</td>
									<td class="tg-yw4l">32"</td>
									<td class="tg-yw4l">35"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">HIPS</td>
									<td class="tg-yw4l">34.5"</td>
									<td class="tg-yw4l">36"</td>
									<td class="tg-yw4l">37.5"</td>
									<td class="tg-yw4l">39.5"</td>
									<td class="tg-yw4l">42.5"</td>
									<td class="tg-yw4l">45.5"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">CUP SIZE</td>
									<td class="tg-yw4l">A/B</td>
									<td class="tg-yw4l">B</td>
									<td class="tg-yw4l">C</td>
									<td class="tg-yw4l">C</td>
									<td class="tg-yw4l">D</td>
									<td class="tg-yw4l">D &amp; Up</td>
							</tr>
							<tr>
									<td class="tg-yw4l">AUSTRALIA</td>
									<td class="tg-yw4l">4</td>
									<td class="tg-yw4l">6</td>
									<td class="tg-yw4l">8</td>
									<td class="tg-yw4l">10</td>
									<td class="tg-yw4l">12/14</td>
									<td class="tg-yw4l">16</td>
							</tr>
							<tr>
									<td class="tg-yw4l">EUROPE</td>
									<td class="tg-yw4l">30</td>
									<td class="tg-yw4l">32</td>
									<td class="tg-yw4l">34/36</td>
									<td class="tg-yw4l">38</td>
									<td class="tg-yw4l">40/42</td>
									<td class="tg-yw4l">44</td>
							</tr>
							<tr>
									<td class="tg-yw4l">JAPAN</td>
									<td class="tg-yw4l">3</td>
									<td class="tg-yw4l">5</td>
									<td class="tg-yw4l">7</td>
									<td class="tg-yw4l">11/13</td>
									<td class="tg-yw4l">15/17</td>
									<td class="tg-yw4l">19</td>
							</tr>
							<tr>
									<td class="tg-yw4l">UNITED KINGDOM</td>
									<td class="tg-yw4l">2</td>
									<td class="tg-yw4l">4</td>
									<td class="tg-yw4l">6</td>
									<td class="tg-yw4l">8</td>
									<td class="tg-yw4l">10/12</td>
									<td class="tg-yw4l">14/16</td>
							</tr>
					</tbody>
				</table>
				<table class="tg">
					<tbody>
							<tr>
									<th class="tg-yw4l">SIZE</th>
									<th class="tg-yw4l" style="width:42.5%">P/S</th>
									<th class="tg-yw4l" style="width:42.5%">M/L</th>
							</tr>
							<tr>
									<td class="tg-yw4l">BUST</td>
									<td class="tg-yw4l">32-36"</td>
									<td class="tg-yw4l">37-41"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">WAIST</td>
									<td class="tg-yw4l">23-27"</td>
									<td class="tg-yw4l">28-32"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">HIPS</td>
									<td class="tg-yw4l">34-38"</td>
									<td class="tg-yw4l">39-43"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">AUSTRALIA</td>
									<td class="tg-yw4l">4/6/8</td>
									<td class="tg-yw4l">10/12/14</td>
							</tr>
							<tr>
									<td class="tg-yw4l">EUROPE</td>
									<td class="tg-yw4l">30/32/34/36</td>
									<td class="tg-yw4l">38/40/42</td>
							</tr>
							<tr id="sc-bottoms">
									<td class="tg-yw4l">JAPAN</td>
									<td class="tg-yw4l">3/5/7</td>
									<td class="tg-yw4l">11/13/15/17</td>
							</tr>
							<tr>
									<td class="tg-yw4l">UNITED KINGDOM</td>
									<td class="tg-yw4l">2/4/6</td>
									<td class="tg-yw4l">8/10/12</td>
							</tr>
					</tbody>
				</table>
				<p>For petite sizing, please view our <a href="#sc-petites">petites</a> fit guide.</p>



				<h4>BOTTOMS &amp; JEANS</h4>
				<p>Please Note: Pant and jean inseams vary by silhouette. Specific measurements can be found on each item's detail page.</p>
				<table class="tg">
					<tbody>
							<tr>
									<th class="tg-yw4l">SIZE</th>
									<th class="tg-yw4l" style="width:14.1666%">XXS</th>
									<th class="tg-yw4l" style="width:14.1666%">XS</th>
									<th class="tg-yw4l" style="width:14.1666%">S</th>
									<th class="tg-yw4l" style="width:14.1666%">M</th>
									<th class="tg-yw4l" style="width:14.1666%">L</th>
									<th class="tg-yw4l" style="width:14.1666%">XL</th>
							</tr>
							<tr>
									<td class="tg-yw4l">WAIST</td>
									<td class="tg-yw4l">24"</td>
									<td class="tg-yw4l">25.5"</td>
									<td class="tg-yw4l">27"</td>
									<td class="tg-yw4l">29"</td>
									<td class="tg-yw4l">32"</td>
									<td class="tg-yw4l">35"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">HIPS</td>
									<td class="tg-yw4l">34.5"</td>
									<td class="tg-yw4l">36"</td>
									<td class="tg-yw4l">37.5"</td>
									<td class="tg-yw4l">39.5"</td>
									<td class="tg-yw4l">42.5"</td>
									<td class="tg-yw4l">45.5"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">THIGH</td>
									<td class="tg-yw4l">19.5"</td>
									<td class="tg-yw4l">20.5"</td>
									<td class="tg-yw4l">21.5"</td>
									<td class="tg-yw4l">22.5"</td>
									<td class="tg-yw4l">24"</td>
									<td class="tg-yw4l">25.5"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">AUSTRALIA</td>
									<td class="tg-yw4l">4</td>
									<td class="tg-yw4l">6</td>
									<td class="tg-yw4l">8</td>
									<td class="tg-yw4l">10</td>
									<td class="tg-yw4l">12/14</td>
									<td class="tg-yw4l">16</td>
							</tr>
							<tr>
									<td class="tg-yw4l">EUROPE</td>
									<td class="tg-yw4l">30</td>
									<td class="tg-yw4l">32</td>
									<td class="tg-yw4l">34/36</td>
									<td class="tg-yw4l">38</td>
									<td class="tg-yw4l">40/42</td>
									<td class="tg-yw4l">44</td>
							</tr>
							<tr>
									<td class="tg-yw4l">JAPAN</td>
									<td class="tg-yw4l">3</td>
									<td class="tg-yw4l">5</td>
									<td class="tg-yw4l">7</td>
									<td class="tg-yw4l">11/13</td>
									<td class="tg-yw4l">15/17</td>
									<td class="tg-yw4l">19</td>
							</tr>
							<tr>
									<td class="tg-yw4l">UNITED KINGDOM</td>
									<td class="tg-yw4l">2</td>
									<td class="tg-yw4l">4</td>
									<td class="tg-yw4l">6</td>
									<td class="tg-yw4l">8</td>
									<td class="tg-yw4l">10/12</td>
									<td class="tg-yw4l">14/16</td>
							</tr>
					</tbody>
				</table>
				<table class="tg">
					<tbody>
							<tr>
						    <th class="tg-yw4l">SIZE</th>
						    <th class="tg-yw4l" style="width:10.625%">00</th>
						    <th class="tg-yw4l" style="width:10.625%">0</th>
						    <th class="tg-yw4l" style="width:10.625%">2</th>
						    <th class="tg-yw4l" style="width:10.625%">4</th>
						    <th class="tg-yw4l" style="width:10.625%">6</th>
						    <th class="tg-yw4l" style="width:10.625%">8</th>
						    <th class="tg-yw4l" style="width:10.625%">10</th>
						    <th class="tg-yw4l" style="width:10.625%">12</th>
						  </tr>
							<tr>
									<td class="tg-yw4l">WAIST</td>
									<td class="tg-yw4l">23"</td>
									<td class="tg-yw4l">24"</td>
									<td class="tg-yw4l">25"</td>
									<td class="tg-yw4l">26"</td>
									<td class="tg-yw4l">27"</td>
									<td class="tg-yw4l">28.5"</td>
									<td class="tg-yw4l">30"</td>
									<td class="tg-yw4l">31.5"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">HIPS</td>
									<td class="tg-yw4l">33.5"</td>
									<td class="tg-yw4l">34.5"</td>
									<td class="tg-yw4l">35.5"</td>
									<td class="tg-yw4l">36.5"</td>
									<td class="tg-yw4l">37.5"</td>
									<td class="tg-yw4l">39"</td>
									<td class="tg-yw4l">40.5"</td>
									<td class="tg-yw4l">42"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">THIGH</td>
									<td class="tg-yw4l">19.5"</td>
									<td class="tg-yw4l">20"</td>
									<td class="tg-yw4l">20.5"</td>
									<td class="tg-yw4l">21"</td>
									<td class="tg-yw4l">21.5"</td>
									<td class="tg-yw4l">22.25"</td>
									<td class="tg-yw4l">23"</td>
									<td class="tg-yw4l">23.75"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">AUSTRALIA</td>
									<td class="tg-yw4l">4</td>
									<td class="tg-yw4l">4</td>
									<td class="tg-yw4l">6</td>
									<td class="tg-yw4l">6</td>
									<td class="tg-yw4l">8</td>
									<td class="tg-yw4l">10/12</td>
									<td class="tg-yw4l">14</td>
									<td class="tg-yw4l">16</td>
							</tr>
							<tr>
									<td class="tg-yw4l">EUROPE</td>
									<td class="tg-yw4l">28</td>
									<td class="tg-yw4l">30</td>
									<td class="tg-yw4l">32</td>
									<td class="tg-yw4l">34</td>
									<td class="tg-yw4l">36</td>
									<td class="tg-yw4l">38</td>
									<td class="tg-yw4l">40</td>
									<td class="tg-yw4l">42</td>
							</tr>
							<tr>
									<td class="tg-yw4l">JAPAN</td>
									<td class="tg-yw4l">3</td>
									<td class="tg-yw4l">3</td>
									<td class="tg-yw4l">5</td>
									<td class="tg-yw4l">5</td>
									<td class="tg-yw4l">7</td>
									<td class="tg-yw4l">9/11</td>
									<td class="tg-yw4l">13</td>
									<td class="tg-yw4l">15</td>
							</tr>
							<tr>
									<td class="tg-yw4l">UNITED KINGDOM</td>
									<td class="tg-yw4l">2</td>
									<td class="tg-yw4l">2</td>
									<td class="tg-yw4l">4</td>
									<td class="tg-yw4l">4</td>
									<td class="tg-yw4l">6</td>
									<td class="tg-yw4l">8/10</td>
									<td class="tg-yw4l">12</td>
									<td class="tg-yw4l">14</td>
							</tr>
					</tbody>
				</table>
				<h4>JEANS</h4>
				<table class="tg">
					<tbody>
							<tr>
									<th class="tg-yw4l">SIZE</th>
									<th class="tg-yw4l" style="width:7.7272%">22</th>
									<th class="tg-yw4l" style="width:7.7272%">23</th>
									<th class="tg-yw4l" style="width:7.7272%">24</th>
									<th class="tg-yw4l" style="width:7.7272%">25</th>
									<th class="tg-yw4l" style="width:7.7272%">26</th>
									<th class="tg-yw4l" style="width:7.7272%">27</th>
									<th class="tg-yw4l" style="width:7.7272%">28</th>
									<th class="tg-yw4l" style="width:7.7272%">29</th>
									<th class="tg-yw4l" style="width:7.7272%">30</th>
									<th class="tg-yw4l" style="width:7.7272%">31</th>
									<th class="tg-yw4l" style="width:7.7272%">32</th>
							</tr>
							<tr>
									<td class="tg-yw4l">WAIST</td>
									<td class="tg-yw4l">21"</td>
									<td class="tg-yw4l">22"</td>
									<td class="tg-yw4l">23"</td>
									<td class="tg-yw4l">24"</td>
									<td class="tg-yw4l">25"</td>
									<td class="tg-yw4l">26"</td>
									<td class="tg-yw4l">27"</td>
									<td class="tg-yw4l">28.5"</td>
									<td class="tg-yw4l">30"</td>
									<td class="tg-yw4l">31.5"</td>
									<td class="tg-yw4l">33"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">HIPS</td>
									<td class="tg-yw4l">31.5"</td>
									<td class="tg-yw4l">32.5"</td>
									<td class="tg-yw4l">33.5"</td>
									<td class="tg-yw4l">34.5"</td>
									<td class="tg-yw4l">35.5"</td>
									<td class="tg-yw4l">36.5"</td>
									<td class="tg-yw4l">37.5"</td>
									<td class="tg-yw4l">39"</td>
									<td class="tg-yw4l">40.5"</td>
									<td class="tg-yw4l">42"</td>
									<td class="tg-yw4l">43.5"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">THIGH</td>
									<td class="tg-yw4l">18.5"</td>
									<td class="tg-yw4l">19"</td>
									<td class="tg-yw4l">19.5"</td>
									<td class="tg-yw4l">20"</td>
									<td class="tg-yw4l">20.5"</td>
									<td class="tg-yw4l">21"</td>
									<td class="tg-yw4l">21.5"</td>
									<td class="tg-yw4l">22.25"</td>
									<td class="tg-yw4l">23"</td>
									<td class="tg-yw4l">23.75"</td>
									<td class="tg-yw4l">24.5"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">AUSTRALIA</td>
									<td class="tg-yw4l">0</td>
									<td class="tg-yw4l">2</td>
									<td class="tg-yw4l">4</td>
									<td class="tg-yw4l">4</td>
									<td class="tg-yw4l">6</td>
									<td class="tg-yw4l">6</td>
									<td class="tg-yw4l">8</td>
									<td class="tg-yw4l">10/12</td>
									<td class="tg-yw4l">14</td>
									<td class="tg-yw4l">16</td>
									<td class="tg-yw4l">18</td>
							</tr>
							<tr>
									<td class="tg-yw4l">EUROPE</td>
									<td class="tg-yw4l">24</td>
									<td class="tg-yw4l">26</td>
									<td class="tg-yw4l">28</td>
									<td class="tg-yw4l">30</td>
									<td class="tg-yw4l">32</td>
									<td class="tg-yw4l">34</td>
									<td class="tg-yw4l">36</td>
									<td class="tg-yw4l">38</td>
									<td class="tg-yw4l">40</td>
									<td class="tg-yw4l">42</td>
									<td class="tg-yw4l">44</td>
							</tr>
							<tr id="sc-petites">
									<td class="tg-yw4l">JAPAN</td>
									<td class="tg-yw4l">1</td>
									<td class="tg-yw4l">1</td>
									<td class="tg-yw4l">3</td>
									<td class="tg-yw4l">3</td>
									<td class="tg-yw4l">5</td>
									<td class="tg-yw4l">5</td>
									<td class="tg-yw4l">7</td>
									<td class="tg-yw4l">9/11</td>
									<td class="tg-yw4l">13</td>
									<td class="tg-yw4l">15</td>
									<td class="tg-yw4l">17</td>
							</tr>
							<tr>
									<td class="tg-yw4l">UNITED KINGDOM</td>
									<td class="tg-yw4l">0</td>
									<td class="tg-yw4l">0</td>
									<td class="tg-yw4l">2</td>
									<td class="tg-yw4l">2</td>
									<td class="tg-yw4l">4</td>
									<td class="tg-yw4l">4</td>
									<td class="tg-yw4l">6</td>
									<td class="tg-yw4l">8/10</td>
									<td class="tg-yw4l">12</td>
									<td class="tg-yw4l">14</td>
									<td class="tg-yw4l">16</td>
							</tr>
					</tbody>
				</table>
				<p>For petite sizing, please view our <a href="#sc-petites">petites</a> fit guide.</p>



				<h4>PETITES</h4>
				<p>Please Note: Sleeve and inseam lengths are shorter for petite items on our site. Specific measurements can be found on each petite item's detail page.</p>
				<table class="tg">
					<tbody>
							<tr>
									<th class="tg-yw4l">SIZE</th>
									<th class="tg-yw4l" style="width:17%">XXS</th>
									<th class="tg-yw4l" style="width:17%">XS</th>
									<th class="tg-yw4l" style="width:17%">S</th>
									<th class="tg-yw4l" style="width:17%">M</th>
									<th class="tg-yw4l" style="width:17%">L</th>
							</tr>
							<tr>
									<td class="tg-yw4l">BUST</td>
									<td class="tg-yw4l">32.5"</td>
									<td class="tg-yw4l">34"</td>
									<td class="tg-yw4l">35.5"</td>
									<td class="tg-yw4l">37.5"</td>
									<td class="tg-yw4l">40.5"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">WAIST</td>
									<td class="tg-yw4l">24"</td>
									<td class="tg-yw4l">25.5"</td>
									<td class="tg-yw4l">27"</td>
									<td class="tg-yw4l">29"</td>
									<td class="tg-yw4l">32"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">HIPS</td>
									<td class="tg-yw4l">34.5"</td>
									<td class="tg-yw4l">36"</td>
									<td class="tg-yw4l">37.5"</td>
									<td class="tg-yw4l">39.5"</td>
									<td class="tg-yw4l">42.5"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">THIGH</td>
									<td class="tg-yw4l">19.5"</td>
									<td class="tg-yw4l">20.5"</td>
									<td class="tg-yw4l">21.5"</td>
									<td class="tg-yw4l">22.5"</td>
									<td class="tg-yw4l">24"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">AUSTRALIA</td>
									<td class="tg-yw4l">4</td>
									<td class="tg-yw4l">6</td>
									<td class="tg-yw4l">8</td>
									<td class="tg-yw4l">10</td>
									<td class="tg-yw4l">12/14</td>
							</tr>
							<tr>
									<td class="tg-yw4l">EUROPE</td>
									<td class="tg-yw4l">30</td>
									<td class="tg-yw4l">32</td>
									<td class="tg-yw4l">34/36</td>
									<td class="tg-yw4l">38</td>
									<td class="tg-yw4l">40/42</td>
							</tr>
							<tr>
									<td class="tg-yw4l">JAPAN</td>
									<td class="tg-yw4l">3</td>
									<td class="tg-yw4l">5</td>
									<td class="tg-yw4l">7</td>
									<td class="tg-yw4l">11/13</td>
									<td class="tg-yw4l">15/17</td>
							</tr>
							<tr>
									<td class="tg-yw4l">UNITED KINGDOM</td>
									<td class="tg-yw4l">2</td>
									<td class="tg-yw4l">4</td>
									<td class="tg-yw4l">6</td>
									<td class="tg-yw4l">8</td>
									<td class="tg-yw4l">10/12</td>
							</tr>
					</tbody>
				</table>
				<table class="tg">
					<tbody>
							<tr>
									<th class="tg-yw4l" style="width: 14.1666%;">SIZE</th>
									<th class="tg-yw4l" style="width: 14.1666%;">00</th>
									<th class="tg-yw4l" style="width: 14.1666%;">0</th>
									<th class="tg-yw4l" style="width: 14.1666%;">2</th>
									<th class="tg-yw4l" style="width: 14.1666%;">4</th>
									<th class="tg-yw4l" style="width: 14.1666%;">6</th>
									<th class="tg-yw4l" style="width: 14.1666%;">8</th>
							</tr>
							<tr>
									<td class="tg-yw4l">BUST</td>
									<td class="tg-yw4l">31.5"</td>
									<td class="tg-yw4l">32.5"</td>
									<td class="tg-yw4l">33.5"</td>
									<td class="tg-yw4l">34.5"</td>
									<td class="tg-yw4l">35.5"</td>
									<td class="tg-yw4l">37"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">WAIST</td>
									<td class="tg-yw4l">23"</td>
									<td class="tg-yw4l">24"</td>
									<td class="tg-yw4l">25"</td>
									<td class="tg-yw4l">26"</td>
									<td class="tg-yw4l">27"</td>
									<td class="tg-yw4l">28.5"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">HIPS</td>
									<td class="tg-yw4l">33.5"</td>
									<td class="tg-yw4l">34.5"</td>
									<td class="tg-yw4l">35.5"</td>
									<td class="tg-yw4l">36.5"</td>
									<td class="tg-yw4l">37.5"</td>
									<td class="tg-yw4l">39"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">THIGH</td>
									<td class="tg-yw4l">19.5"</td>
									<td class="tg-yw4l">20"</td>
									<td class="tg-yw4l">20.5"</td>
									<td class="tg-yw4l">21"</td>
									<td class="tg-yw4l">21.5"</td>
									<td class="tg-yw4l">22.25"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">AUSTRALIA</td>
									<td class="tg-yw4l">4</td>
									<td class="tg-yw4l">4</td>
									<td class="tg-yw4l">6</td>
									<td class="tg-yw4l">6</td>
									<td class="tg-yw4l">8</td>
									<td class="tg-yw4l">10/12</td>
							</tr>
							<tr>
									<td class="tg-yw4l">EUROPE</td>
									<td class="tg-yw4l">28</td>
									<td class="tg-yw4l">30</td>
									<td class="tg-yw4l">32</td>
									<td class="tg-yw4l">34</td>
									<td class="tg-yw4l">36</td>
									<td class="tg-yw4l">38</td>
							</tr>
							<tr id="sc-shoes">
									<td class="tg-yw4l">JAPAN</td>
									<td class="tg-yw4l">3</td>
									<td class="tg-yw4l">3</td>
									<td class="tg-yw4l">5</td>
									<td class="tg-yw4l">5</td>
									<td class="tg-yw4l">7</td>
									<td class="tg-yw4l">9/11</td>
							</tr>
							<tr>
									<td class="tg-yw4l">UNITED KINGDOM</td>
									<td class="tg-yw4l">2</td>
									<td class="tg-yw4l">2</td>
									<td class="tg-yw4l">4</td>
									<td class="tg-yw4l">4</td>
									<td class="tg-yw4l">6</td>
									<td class="tg-yw4l">8/10</td>
							</tr>
					</tbody>
				</table>
				<h4>SHOES &amp; BELTS</h4>
				<table class="tg">
					<tbody>
							<tr>
									<th class="tg-yw4l" style="width:20%;text-align:center;">US SIZE</th>
									<th class="tg-yw4l" style="width:20%">EUROPE</th>
									<th class="tg-yw4l" style="width:20%">UK</th>
									<th class="tg-yw4l" style="width:20%">IN</th>
									<th class="tg-yw4l" style="width:20%">CM</th>
							</tr>
							<tr>
									<td class="tg-yw4l" style="text-align:center;">5</td>
									<td class="tg-yw4l">35</td>
									<td class="tg-yw4l">2</td>
									<td class="tg-yw4l">8.5</td>
									<td class="tg-yw4l">21.6</td>
							</tr>
							<tr>
									<td class="tg-yw4l" style="text-align:center;">5.5</td>
									<td class="tg-yw4l">35.5</td>
									<td class="tg-yw4l">2.5</td>
									<td class="tg-yw4l">8.75</td>
									<td class="tg-yw4l">22.2</td>
							</tr>
							<tr>
									<td class="tg-yw4l" style="text-align:center;">6</td>
									<td class="tg-yw4l">36</td>
									<td class="tg-yw4l">3</td>
									<td class="tg-yw4l">8.875</td>
									<td class="tg-yw4l">22.5</td>
							</tr>
							<tr>
									<td class="tg-yw4l" style="text-align:center;">6.5</td>
									<td class="tg-yw4l">37</td>
									<td class="tg-yw4l">4</td>
									<td class="tg-yw4l">9.0625</td>
									<td class="tg-yw4l">23</td>
							</tr>
							<tr>
									<td class="tg-yw4l" style="text-align:center;">7</td>
									<td class="tg-yw4l">37.5</td>
									<td class="tg-yw4l">4.5</td>
									<td class="tg-yw4l">9.25</td>
									<td class="tg-yw4l">23.5</td>
							</tr>
							<tr>
									<td class="tg-yw4l" style="text-align:center;">7.5</td>
									<td class="tg-yw4l">38</td>
									<td class="tg-yw4l">5</td>
									<td class="tg-yw4l">9.375</td>
									<td class="tg-yw4l">23.8</td>
							</tr>
							<tr>
									<td class="tg-yw4l" style="text-align:center;">8</td>
									<td class="tg-yw4l">38.5</td>
									<td class="tg-yw4l">5.5</td>
									<td class="tg-yw4l">9.5</td>
									<td class="tg-yw4l">24.1</td>
							</tr>
							<tr>
									<td class="tg-yw4l" style="text-align:center;">8.5</td>
									<td class="tg-yw4l">39</td>
									<td class="tg-yw4l">6</td>
									<td class="tg-yw4l">9.6875</td>
									<td class="tg-yw4l">24.6</td>
							</tr>
							<tr>
									<td class="tg-yw4l" style="text-align:center;">9</td>
									<td class="tg-yw4l">40</td>
									<td class="tg-yw4l">7</td>
									<td class="tg-yw4l">9.875</td>
									<td class="tg-yw4l">25.1</td>
							</tr>
							<tr>
									<td class="tg-yw4l" style="text-align:center;">9.5</td>
									<td class="tg-yw4l">40.5</td>
									<td class="tg-yw4l">7.5</td>
									<td class="tg-yw4l">10</td>
									<td class="tg-yw4l">25.4</td>
							</tr>
							<tr>
									<td class="tg-yw4l" style="text-align:center;">10</td>
									<td class="tg-yw4l">41</td>
									<td class="tg-yw4l">8</td>
									<td class="tg-yw4l">10.1875</td>
									<td class="tg-yw4l">25.9</td>
							</tr>
					</tbody>
				</table>
				<p>For our casual flip flop styles, sizes are listed from XS-L.</p>
				<table class="tg">
					<tbody>
							<tr id="scBelts">
									<th class="tg-yw4l" style="width:20%;text-align:center;">FLIP FLOPS</th>
									<th class="tg-yw4l" style="width:20%">XS</th>
									<th class="tg-yw4l" style="width:20%">S</th>
									<th class="tg-yw4l" style="width:20%">M</th>
									<th class="tg-yw4l" style="width:20%">L</th>
							</tr>
							<tr>
									<td class="tg-yw4l" style="text-align:center;">US SIZE</td>
									<td class="tg-yw4l">5</td>
									<td class="tg-yw4l">6</td>
									<td class="tg-yw4l">7-8</td>
									<td class="tg-yw4l">9-10</td>
							</tr>
					</tbody>
				</table>
				<h4 id="sc-kids">Belts</h4>
				<p style="text-align: left; padding-left: 15px;">
						Depending on whether a belt is designed to sit at the waist or the hips and the amount of stretch, measurements vary by style. Below are general guidelines on belt sizing.<br>
						P/S = 33" at the hip, generally fits sizes 00-4<br>
						M/L = 36" at the hip, generally fits sizes 6-10<br>
						Belts are measured from buckle to end when the belt is laid flat.
				</p>
				<h4>BABY</h4>
				<table class="tg">
					<tbody>
							<tr>
									<th class="tg-yw4l">SIZE</th>
									<th class="tg-yw4l" style="width:14.1666%">0-3M</th>
									<th class="tg-yw4l" style="width:14.1666%">3-6M</th>
									<th class="tg-yw4l" style="width:14.1666%">6-9M</th>
									<th class="tg-yw4l" style="width:14.1666%">12M</th>
									<th class="tg-yw4l" style="width:14.1666%">18M</th>
									<th class="tg-yw4l" style="width:14.1666%">24M</th>
							</tr>
							<tr>
									<td class="tg-yw4l">AGE</td>
									<td class="tg-yw4l">0-3 months</td>
									<td class="tg-yw4l">3-6 months</td>
									<td class="tg-yw4l">6-9 months</td>
									<td class="tg-yw4l">9-12 months</td>
									<td class="tg-yw4l">12-18 months</td>
									<td class="tg-yw4l">18-24 months</td>
							</tr>
							<tr>
									<td class="tg-yw4l">HEIGHT</td>
									<td class="tg-yw4l">up to 23.5"</td>
									<td class="tg-yw4l">24-26.5"</td>
									<td class="tg-yw4l">27-27.5"</td>
									<td class="tg-yw4l">28-30.5"</td>
									<td class="tg-yw4l">31-32.5"</td>
									<td class="tg-yw4l">33-34.5"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">WEIGHT</td>
									<td class="tg-yw4l">up to 12 lbs.</td>
									<td class="tg-yw4l">12.5-16.5 lbs.</td>
									<td class="tg-yw4l">17-20 lbs.</td>
									<td class="tg-yw4l">20.5-24 lbs.</td>
									<td class="tg-yw4l">24.5-27.5 lbs.</td>
									<td class="tg-yw4l">28-30 lbs.</td>
							</tr>
					</tbody>
				</table>
				<h4>TODDLER</h4>
				<table class="tg">
					<tbody>
							<tr>
									<th class="tg-yw4l">SIZE</th>
									<th class="tg-yw4l" style="width:14.1666%">2T</th>
									<th class="tg-yw4l" style="width:14.1666%">3T</th>
									<th class="tg-yw4l" style="width:14.1666%">4</th>
									<th class="tg-yw4l" style="width:14.1666%">5</th>
									<th class="tg-yw4l" style="width:14.1666%">6</th>
									<th class="tg-yw4l" style="width:14.1666%">6X</th>
							</tr>
							<tr>
									<td class="tg-yw4l">AGE</td>
									<td class="tg-yw4l">1 1/2-2</td>
									<td class="tg-yw4l">3</td>
									<td class="tg-yw4l">4</td>
									<td class="tg-yw4l">5</td>
									<td class="tg-yw4l">6</td>
									<td class="tg-yw4l">6 1/2</td>
							</tr>
							<tr>
									<td class="tg-yw4l">HEIGHT</td>
									<td class="tg-yw4l">33-35.5"</td>
									<td class="tg-yw4l">36-38.5"</td>
									<td class="tg-yw4l">39-41.5"</td>
									<td class="tg-yw4l">42-44.5"</td>
									<td class="tg-yw4l">45-46.5"</td>
									<td class="tg-yw4l">47-48.5"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">WEIGHT</td>
									<td class="tg-yw4l">25-28 lbs.</td>
									<td class="tg-yw4l">29-32 lbs.</td>
									<td class="tg-yw4l">33-36 lbs.</td>
									<td class="tg-yw4l">37-42 lbs.</td>
									<td class="tg-yw4l">43-48 lbs.</td>
									<td class="tg-yw4l">49-54 lbs.</td>
							</tr>
					</tbody>
				</table>
				<h4>GIRLS</h4>
				<table class="tg">
					<tbody>
							<tr>
									<th class="tg-yw4l">SIZE</th>
									<th class="tg-yw4l" style="width:14.1666%">7</th>
									<th class="tg-yw4l" style="width:14.1666%">8</th>
									<th class="tg-yw4l" style="width:14.1666%">10</th>
									<th class="tg-yw4l" style="width:14.1666%">12</th>
									<th class="tg-yw4l" style="width:14.1666%">14</th>
									<th class="tg-yw4l" style="width:14.1666%">16</th>
							</tr>
							<tr>
									<td class="tg-yw4l">AGE</td>
									<td class="tg-yw4l">7</td>
									<td class="tg-yw4l">8</td>
									<td class="tg-yw4l">9</td>
									<td class="tg-yw4l">10</td>
									<td class="tg-yw4l">11</td>
									<td class="tg-yw4l">12</td>
							</tr>
							<tr>
									<td class="tg-yw4l">HEIGHT</td>
									<td class="tg-yw4l">51"</td>
									<td class="tg-yw4l">53"</td>
									<td class="tg-yw4l">55"</td>
									<td class="tg-yw4l">57.5"</td>
									<td class="tg-yw4l">60"</td>
									<td class="tg-yw4l">62.5"</td>
							</tr>
							<tr>
									<td class="tg-yw4l">WEIGHT</td>
									<td class="tg-yw4l">60 lbs.</td>
									<td class="tg-yw4l">66 lbs.</td>
									<td class="tg-yw4l">74 lbs.</td>
									<td class="tg-yw4l">84 lbs.</td>
									<td class="tg-yw4l">96 lbs.</td>
									<td class="tg-yw4l">110 lbs.</td>
							</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>