<script type="text/javascript" src="https://embed.indi.com/widgets/v1/indi-embed.js"></script>

<div id="indi-forum-root"></div>
<script>
  var indi_forum = new indi.forum("#indi-forum-root", {
    title: "Become A Brand Ambassador",
    description: "We are looking for videos & photos about Bebe and its products. We want to see product reviews, un-boxing videos, creative takes, we want to see it all! As our Brand Ambassador you receive a special commission rate of 2.80% on all sales.",
    submit_button_text: "Upload Photo / Video",
    submit_button_url: "https://indi.com/Submit/ForumTerms?id=09f6b69d-ac75-40bc-88b6-0b9f565dbff4",
    thumbnail_url: "https://images.indi.com/s3/indi-upload-us-west-1/Image/e5fcaf8c02a52b58c800df9869e492a6.jpg",
    return_url: window.location.href
  });
</script>


<div id="indi-carousel-root"></div>
<script>
  var indi_carousel = new indi.carousel("#indi-carousel-root", {
    apikey: "EERIxwXF644c1E1To5puL8xNP5PvLHSv240PyNYf",
    id: "b7a3ee5e-a7a7-4332-a77d-6e4a377ce8b5",
    size: "large",
    theme: "light",
    round_corners: false,
    show_title: false,
    show_views: false,
    show_likes: false,
    show_buzz: false,
    animate: true
  });
</script>
