{%- if section.settings.show and section.settings.label != blank -%}
  {%- if section.settings.homepage_only == false or template.name == 'index' -%}
    <div class="offer-tab" data-section-id="{{ section.id }}" data-section-type="offer-tab-section">
      <a href="#newsletter-modal" class="js-offer-tab offer-tab__label">{{ section.settings.label }}</a>
      <span class="offer-tab__cross js-offer-tab-close">{% include 'svg-icon-x' %}</span>
    </div>

    {% include 'newsletter-modal' %}

  {%- endif -%}
{%- endif -%}

{% schema %}
  {
    "name": "Offer tab",
    "settings": [
      {
        "type": "checkbox",
        "id": "show",
        "label": "Show offer tab",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "homepage_only",
        "label": "Homepage only"
      },
      {
        "type": "text",
        "id": "label",
        "label": "Label",
        "default": "GET 20% OFF"
      },
      {
        "type": "header",
        "content": "EMAIL SIGNUP FORM"
      },
      {
        "type": "url",
        "id": "newsletter_subscription_api_url",
        "label": "ESP API Endpoint URL",
        "info": "Required"
      },
      {
        "type": "text",
        "id": "newsletter_email_service_provider_lid",
        "label": "Email Studio (ExactTarget) List ID",
        "default": "List ID (123) here"
      },
      {
        "type": "text",
        "id": "newsletter_email_service_provider_mid",
        "label": "Email Studio (ExactTarget) Member ID",
        "default": "Member ID (XYZ123) here"
      },
      {
        "type": "text",
        "id": "newsletter_sub_action",
        "label": "Email Studio (ExactTarget) Subscription attribute",
        "default": "sub_add_update"
      },
      {
        "type": "text",
        "id": "newsletter_error",
        "label": "Error Text",
        "default": "Please enter a valid e-mail address"
      },
      {
        "type": "richtext",
        "id": "newsletter_success",
        "label": "Success Text",
        "default": "<p>You have successfully joined our newsletter</p>"
      }
    ]
  }
{% endschema %}
