{%- if section.settings.show and section.settings.label != blank -%}
  {%- if section.settings.homepage_only == false or template.name == 'index' -%}
    <div class="offer-tab" data-section-id="{{ section.id }}" data-section-type="offer-tab-section">
      <a href="#newsletter-modal" class="js-offer-tab offer-tab__label">{{ section.settings.label }}</a>
      <span class="offer-tab__cross js-offer-tab-close">{% include 'svg-icon-x' %}</span>
    </div>

    {% include 'newsletter-modal' %}

  {%- endif -%}
{%- endif -%}

{% schema %}
  {
    "name": "Offer tab",
    "settings": [
      {
        "type": "checkbox",
        "id": "show",
        "label": "Show offer tab",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "homepage_only",
        "label": "Homepage only"
      },
      {
        "type": "text",
        "id": "label",
        "label": "Label",
        "default": "GET 20% OFF"
      }
    ]
  }
{% endschema %}
